@font-face {
     font-family: 'MyFont';
     src: url(Alef-Regular.ttf);
}
:root{
     --10:#1D3557;
     --30:#457B9D;
     --60:#F1FAEE;
}
body,html{
     margin: 0px;
     box-sizing: border-box;
     height: 100vh;
     width: 100vw;
}
#main{
     background-color: var(--60);
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
}

#header{
     background-color:var(--60);
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 15px;
     width: 100%;
     height: 10%;
     box-sizing: border-box;
}
#wSentence{
     display: flex;
     font-family: 'MyFont';
     font-size: x-large;
}
#uName{
     font-weight: bolder;
}
#header>button{
     border: 0px;
     border-radius: 5px;
     padding:10px;
     box-sizing: border-box;
     border-width: 3px;
     border-color: var(--30);
     border-style: solid;
     font-family: 'MyFont';
     font-size: x-large;
     background-color: var(--30);
     color: white;
}
#header>button:hover{
     border-color: var(--10)
}
#interface{
     background-color: var(--60);
     width: 100%;
     height: 85%;
     /* padding: 10px; */
     /* box-sizing: border-box; */
     display: flex;
}
#sBar{
     width: 30%;
     height: 100%;
     padding: 20px;
     box-sizing: border-box;
     background-color: var(--60)f;
     display: flex;
     gap: 20px;
     flex-direction: column;
}
#fForm{
     display:flex;
     gap: 10px;
     align-items: center;
}
#fName{
     width: 60%;
     height: 50px;
     border-radius: 5px;
     font-size: larger;
     border-style: solid;
     font-weight: bold;
     box-sizing: border-box;
     background-color: var(--60);
     border-color: var(--10);
     border-width: 2px;
}
#fName:focus{
     border-radius: 5px;
     font-size: larger;
     border-style: solid;
     font-weight: bold;
     box-sizing: border-box;
     background-color: var(--60);
     border-color: var(--10);
     border-width: 2px;
}
#fSubmit{
     width: 33%;
     height: 50px;
     box-sizing: border-box;
     padding: 3px;
     border-radius: 5px;
     border-color: var(--30);
     /* font-size: 100%; */
     font-size: 90%;
     background-color: var(--30);
     color: white;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     border-width: 3px;
     border-color: var(--30);
     border-style: solid;
     font-family: 'MyFont';
}
#fSubmit:hover{
     border-color: var(--10)
}
#fList{
     display: flex;
     flex-direction: column;
     gap: 20px;
}
#flist>div{
     display: flex;
     background-color: #1D3557;
}
#fList>div>div{
     height: 50px;
     font-size: x-large;
     background-color:var(--30);
     box-sizing: border-box;
     color: white;
     border-radius: 5px;
     padding: 5px;
     border-width: 5px;
     border-style: solid;
     word-wrap: normal;
     border-color: var(--30);
}

#fList>div>div:hover{
     border-color:  rgba(0, 0, 0, 1);
}

#fList>div button{
     border: 0px;
     background: rgba(0, 0, 0, 0);
     border-radius: 5px;
     padding:5px;
     width:35px;
     height:35px;
     box-sizing: border-box;
     border-width: 2px;
     border-color: var(--60);
     border-style: solid;
     font-family: 'MyFont';
     font-size: small;
}
#fList>div button:hover{
     border-color: var(--10);
}
#toDoList{
     width: 70%;
     height: 100%;
     padding: 20px;
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     gap: 20px;
     flex-direction: column;
     background-color: var(--30);
     border-radius: 10px;
}
#foldTitle{
     background-color: var(--30);
     padding: 10px;
     box-sizing: border-box;
     border-radius: 5px;
}
#toDos{
     background-color: var(--30);
     padding: 10px;
     box-sizing: border-box;
     border-radius: 5px;
     display: flex;
     flex-direction: column;
     height: max-content;
}
#toDos>button{
     align-self: center;
}
#footer{
     height: 5%;
     box-sizing: border-box;
     font-family: 'MyFont';
     font-size: larger;
     padding: 20px;
}