@font-face {
     font-family: 'MyFont';
     src: url(Alef-Regular.ttf);
}
@font-face {
     font-family: 'Roboto';
     src: url(Roboto-Medium.ttf);
}
:root{
     --10:#1D3557;
     --30:#457B9D;
     --60:#F1FAEE;
}
button{
     cursor: pointer;
}
body,html{
     margin: 0px;
     box-sizing: border-box;
     height: 100vh;
     width: 100vw;
}
#main{
     background-color: var(--60);
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
}

#header{
     background-color:var(--60);
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 15px;
     width: 100%;
     height: 10%;
     box-sizing: border-box;
}
#wSentence{
     display: flex;
     font-family: 'MyFont';
     font-size: x-large;
}
#uName{
     font-weight: bolder;
}
#header>button{
     border: 0px;
     border-radius: 5px;
     padding:10px;
     box-sizing: border-box;
     border-width: 3px;
     border-color: var(--30);
     border-style: solid;
     font-family: 'MyFont';
     font-size: x-large;
     background-color: var(--30);
     color: white;
}
#header>button:hover{
     border-color: var(--10)
}
#interface{
     background-color: var(--60);
     width: 100%;
     height: 85%;
     /* padding: 10px; */
     /* box-sizing: border-box; */
     display: flex;
}
#sBar{
     width: 30%;
     height: 100%;
     padding: 20px;
     box-sizing: border-box;
     background-color: var(--60)f;
     display: flex;
     gap: 20px;
     flex-direction: column;
}
#fForm{
     display:flex;
     gap: 10px;
     align-items: center;
}
#fName{
     width: 60%;
     height: 50px;
     border-radius: 5px;
     font-size: larger;
     border-style: solid;
     font-weight: bold;
     box-sizing: border-box;
     background-color: var(--60);
     border-color: var(--10);
     border-width: 2px;
}
#fName:focus{
     border-radius: 5px;
     font-size: larger;
     border-style: solid;
     font-weight: bold;
     box-sizing: border-box;
     background-color: var(--60);
     border-color: var(--10);
     border-width: 2px;
}
#fSubmit{
     width: 33%;
     height: 50px;
     box-sizing: border-box;
     padding: 3px;
     border-radius: 5px;
     border-color: var(--30);
     /* font-size: 100%; */
     font-size: 90%;
     background-color: var(--30);
     color: white;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     border-width: 3px;
     border-color: var(--30);
     border-style: solid;
     font-family: 'MyFont';
}
#fSubmit:hover{
     border-color: var(--10)
}
#fList{
     display: flex;
     flex-direction: column;
     gap: 20px;
}
#fList>div{
     display: flex;
     background-color: var(--30);
     align-items: center;
     justify-content: space-between;
     padding: 10px;
     box-sizing: border-box;
     border-radius: 5px;
     color: var(--60);
     font-family: cursive;
     width: 100%;
     cursor: pointer;
}


#fList>div button{
     border: 0px;
     background: rgba(0, 0, 0, 0);
     border-radius: 5px;
     padding:5px;
     width:35px;
     height:35px;
     box-sizing: border-box;
     border-width: 2px;
     border-color: var(--60);
     border-style: solid;
     font-family: 'MyFont';
     font-size: small;
}
#fList>div button:hover{
     border-color: var(--10);
     background-color: var(--10);
     color: white;
}
#toDoList{
     width: 68.5%;
     height: 100%;
     padding: 20px;
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     gap: 10px;
     flex-direction: column;
     background-color: var(--30);
     border-radius: 10px;
}
#foldTitle{
     background-color: var(--30);
     padding: 10px;
     box-sizing: border-box;
     border-radius: 5px;
     color: white;
     background-color: var(--10);
     font-size: large;
     height: 45px;
     text-align: center;
     line-height: 25px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-weight: bold;
}
#addToDo{
     height: 30px;
     width: 60px;
     background-color: var(--10);
     border-width: 1px;
     box-sizing: border-box;
     border-style: solid;
     border-color: var(--60);
     color: var(--60);
     border-radius: 5px;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size:x-large;
     line-height: 26px;
     font-style: bold;
}
#addToDo:hover{
     background-color: var(--60);
     color: var(--10);
     border-color: var(--10);
}

#toDos{
     background-color: var(--30);
     padding: 10px;
     box-sizing: border-box;
     border-radius: 5px;
     display: flex;
     flex-direction: column;
     height: max-content;
}
#toDos>button{
     align-self: center;
     margin-bottom: 10px;
}
#popUp{
     display: none;
     width: 100%;
     height: 100%;
     z-index: 1;
     position: absolute;
     backdrop-filter: blur(2px);
}
#form{
     background-color: var(--60);
     width: 50%;
     height: 50%;
     position: absolute;
     top:  50%;
     left: 50%;
     transform: translate(-50%,-50%);
     border-radius: 10px;
     box-sizing: border-box;
     padding: 10px;
     border-width: 3px;
     border-style: solid;
     border-color: var(--10);
     display: flex;
     flex-direction: column;
     gap: 5px;
}
#closePopUp{
     height: 30px;
     width: 30px;
     position: relative;
     top: 1%;
     left: 90%;
     background-color: #457B9D;
     border-radius: 3px;
     line-height: 14px;
}
#form>label{
color: var(--10);
font-family:'Roboto';
font-size: larger;
font-size: 25px;
}
#form>input,textarea,select{
     background-color: var(--60);
     color: var(--10);
     box-sizing: border-box;
     padding: 3px;
     border-radius: 3px;
     border-width: 3px;
     border-style: solid;
     border-color: var(--10);
     border-image: none;
     font-size: large;
}
#toDoItems{
     background-color: var(--60);
     border-radius: 5px;
     padding: 2px;
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     gap: 40px;
     background-color: var(--60);
}
#toDoItems>div{
     background-color: var(--10);
     color: var(--60);
     font-family: 'Roboto';
     display: flex;
     gap: 3px;
     align-items: center;
     width: 100%;
     padding: 10px;
     box-sizing: border-box;
     border-radius: 5px;
     border-width: 2px;
     border-color: var(--60);
     border-style: solid;
}
#toDoItems>div button{
justify-self: flex-end;
border-radius: 5px;
padding: 1px;
box-sizing: border-box;
width: 30px;
height: 30px;
border-width: 2px;
background-color: var(--10);
color: var(--60);
font-style: bold;
border-style: solid;
border-color: var(--60);
}
#toDoItems>div button:hover{
     border-color: var(--10);
     background-color: var(--30);
}

#toDoItems>div div{
     width: 30%;
     word-wrap: break-word;
}
#toDoItems>div h4{
     width: 19%;
}
#date{
     
}
#prio{
     font-size: medium;
}
#footer{
     height: 5%;
     box-sizing: border-box;
     font-family: 'MyFont';
     font-size: larger;
     padding: 20px;
}