@font-face {
     font-family: 'MyFont';
     src: url(Alef-Regular.ttf);
}

body,html{
     margin: 0px;
     box-sizing: border-box;
     height: 100vh;
     width: 100vw;
}
#main{
     background-color: #fbf6ef;
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
}

#header{
     background-color: #ead7c3;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 15px;
     width: 100%;
     height: 10%;
     box-sizing: border-box;
}
#wSentence{
     display: flex;
     font-family: 'MyFont';
     font-size: x-large;
}
#uName{
     font-weight: bolder;
}
#header>button{
     border: 0px;
     background: rgba(0, 0, 0, 0);
     border-radius: 5px;
     padding:10px;
     box-sizing: border-box;
     border-width: 3px;
     border-color: black;
     border-style: solid;
     font-family: 'MyFont';
     font-size: x-large;
}
#header>button:hover{
     border-color: #fbf6ef;
}
#interface{
     background-color: #dce0d9;
     width: 100%;
     height: 85%;
     padding: 10px;
     box-sizing: border-box;
}